@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.main{
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(233,127,193,1) 64%, rgba(0,212,255,1) 100%);
    display: flex;
 
    justify-content: space-evenly;
    align-items: center;
}

form{
    width:450px;
    height: 400px;
    background-color: rgb(184, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
}
h1{
    height: 100px;
    display: flex;
    font-family: poppins;
    justify-content: center;
    align-items: center;
color: rgb(61, 60, 60);
}
input{
    height: 30px;
    width: 200px;
    border: 3px solid rgb(51, 50, 50);
    font-family: poppins;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* span{
    height: 30px;
    width: 100px;
    border: 3px solid rgb(27, 26, 26);
    border-radius: 5px;
    background-color: rgb(67, 67, 67);
    color: white;
} */
.ic{
    width: 280px;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    font-family: poppins;
}
.i1{
    height: 30px;
    width: 100px;
    font-size: 15px;
    display: flex;
    background-color: rgb(16, 83, 216);
    justify-content: center;
    align-items: center;
    font-family: poppins;
}
.i2{
    height: 30px;
    width: 100px;
    font-size: 15px;
    display: flex;
    background-color: rgb(128, 0, 30);
    justify-content: center;
    align-items: center;
    font-family: poppins;
}
.ic i{
    font-size: 15px;
}

