@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    position: -webkit-sticky;  
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    font-family: poppins;
}
.nav{
    width: 95%;
    height: 80px;
    background-color: white;
    box-shadow: 5px 2px 5px 2px rgb(127, 125, 125);
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bb{
    width: 10%;
    height: 100px;
    display: flex;
    color: rgb(38, 37, 37);
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-weight: 700;
    margin-right: 500px;
}
.cont{
    width: 50%;
    height: 100px;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    margin-left: 30px;
}
.cont span{
    height: 50px;
    width: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}
.cont span svg{
    margin-top: 20px;
}
.cont span:hover{
    background-color: aqua;
}
button{
    height: 40px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;

}
button:hover{
    background-color: black;
    color: white;
    border-radius: 7px;
}
.main{
    width: 100%;
    height: 100vh;
    margin-top: -100px;
    background-image: url('https://images.unsplash.com/photo-1503951914875-452162b0f3f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
    width: 100%;
    height: 850px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins;
}
.home h1{
    font-size: 45px;
}
.home h3{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 300;
}
.home button{
    width: 190px;
    height: 60px;
    background-color: white;
    color: black;
    margin-top: 15px;
    font-size: 20px;
    font-family: poppins;
    border-radius: 10px;
}
.home button:hover{
    background-color: black;
    color: white;
    font-family: poppins;
    font-weight: 600;
    border-radius: 7px;
}
.about{
    width: 100%;
    height:700px;
    font-family: poppins;
}
.ab{
    height:230px;
    width: 100%;
    display: flex;
    right: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ab h1{
    font-size: 50px;
}
.ab span{
    font-size: 18px;
}
.ab-it{
    width:100%;
    height:400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.txt{
    width: 50%;
    height:550px;
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    flex-direction: column;
    text-align: justify;
}
.txt p{
    font-size: 18px;
}
.cards{
    width: 50%;
    height:550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card1{
    width: 300px;
    height: 330px;
    display: flex;
    margin-left: 50px;
    border-radius: 5px;
}
.card1 img{
    width: 300px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 5px 2px 5px 2px rgb(82, 81, 81);
}
.card2{
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 90px
    
}
.card2 img{
    width: 330px;
    height: 330px;
    display: flex;
    margin-right: 15px;
    
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 2px 5px 2px rgb(82, 81, 81);
    
}
.crew{
    width: 100%;
    height:450px;
    font-family: poppins;
}
.cr-cards{
    width: 60%;
    height:550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.cr-card1{
    width: 330px;
    height: 330px;
    display: flex;
}
.cr-card1 img{
    width: 350px;
    height: 330px;
    display: flex;
    box-shadow: 5px 2px 5px 2px rgb(82, 81, 81);
    margin-right: 30px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.cr-card2{
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    
}
.cr-card2 img{
    width: 330px;
    height: 330px;
    box-shadow: 5px 2px 5px 2px rgb(82, 81, 81);
    margin-bottom: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.cr-text{
    width:100%;
    height:400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cr-txt{
    width: 40%;
    height:550px;
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    flex-direction: column;
    text-align: justify;
}
.cr-txt p{
    font-size: 18px;
}
.other{
    width: 100%;
    height:800px;
    display: flex;
    background-color: rgb(247, 244, 244);
    flex-direction: column;
}
.or-h1{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.or-h1 h1{
    font-size: 50px;
    font-family: poppins;
}
.or-h1 span{
    font-size: 18px;
    font-family: poppins;
}
.or-home{
    width: 100%;
    height:650px;
    display: flex;
    font-family: poppins;
    justify-content: center;
    align-items: center;
}
.or-card{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.or-cards1{
    width: 450px;
    height: 640px;
    display: flex;
    box-shadow: 3px 2px 3px 2px rgb(82, 81, 81);
    background-color: white;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.or-cards1 img{
    width: 420px;
    height: 250px;
    box-shadow: 3px 2px 3px 2px rgb(82, 81, 81);
    display: flex;
    background-color: rgb(201, 195, 195);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;

}
.or-cards1 h1{
    font-size: 30px;
}
.or-cards1 p{
    font-size: 18px;
    padding: 30px;
}
.or-cards2{
    width: 450px;
    height: 640px;
    display: flex;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 3px 2px 3px 2px rgb(82, 81, 81);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.or-cards2 img{
    width: 420px;
    height: 250px;
    display: flex;
    box-shadow: 3px 2px 3px 2px rgb(82, 81, 81);
    background-color: rgba(247, 241, 241, 0.683);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;

}
.or-cards2 h1{
    font-size: 30px;
}
.or-cards2 p{
    font-size: 18px;
    padding: 30px;
/* margin-bottom: 20px; */
}
.or-cards3{
    width: 450px;
    height: 640px;
    display: flex;
    box-shadow: 3px 2px 3px 2px rgb(82, 81, 81);
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.or-cards3 img{
    width: 420px;
    height: 250px;
    display: flex;
    box-shadow: 3px 2px 3px 2px rgb(82, 81, 81);
    background-color: rgb(201, 195, 195);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;

}
.or-cards3 h1{
    font-size: 30px;
}
.or-cards3 p{
    font-size: 18px;
    padding: 30px;

}
.contact{
    width: 100%;
    height: 440px;
    display: flex;
    background-color: black;
    flex-direction: column;
}
.ft{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.co-ab{
    width: 500px;
    height: 150px;  
    margin-top: 190px;
    margin-left: 100px;
}
.icon{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.icon i{
    color: white;
    font-size: 30px;
    border-radius: 50px;
    margin-top: 110px;
}
.co-ab h1{
    font-size: 30px;
    font-family: poppins;
}
.co-ab span{
    font-size: 17px;
    font-family: poppins;
}
.co-home{
    width: 100%;
    height: 280px;
    margin-top: 30px;  
    display: flex;
    font-family: poppins;
    justify-content: center;
    align-items: center;
}
.co-bc1,.co-bc2,.co-bc3,.co-bc4{
    width: 300px;
    height: 300px;
    display: flex;
    padding: 20px;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.co-bc1 h2,.co-bc2 h2,.co-bc3 h2,.co-bc4 h2{
    font-size: 24px;
    font-family: poppins;
    font-weight: 500;
}
.co-bc1 span,.co-bc2 span,.co-bc3 span,.co-bc4 span{
    font-size: 17px;
    font-family: poppins;
    font-weight: 300;
    
}
