@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');


div{
    height: 700px;
    width: 100%;
    display: flex;
    background-color: rgb(161, 238, 238);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    height: 25px;
    width: 200px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
}
button{
    height: 30px;
    width: 100px;
    background-color: rgb(73, 71, 71);
    color: white;
    font-family: poppins;

    font-size: 20px;
    border-radius: 5px;


}
span{
    font-size: 50px;
    font-family: poppins;
    font-weight: 700;

}